/* frame*/

body, .page, .sign-up, .info-pic, .two, .three, .five, .header, .content, .four, .action-call, .links, .logo, .sign-up button, .sign-up-img, .info-subtext, .info-subtext img, .three p, .three b {
    display: flex;
}

body, .page, .one, .sign-up, .info-pic, .two, .three, .five {
    flex-direction: column;
}

.header, .content, .four, .action-call, .three b {
    justify-content: center;
}

.five, .links, .two, .action-call, .three {
    align-items: center;
}

.sign-up, .info-pic, .three p, .three b  {
    flex-wrap: wrap;
}

.sign-up button {
    align-self: flex-start;
    justify-content: center;
}

h1, h2, body, .action-call p, .three p, .three b {
    margin: 0;
}

button {
    padding: 0.3125em 0.9375em;
    width: 8.25em;
}

/* text */

.sign-up h2 {
    font-size: 3em;
}

.info-header, .three {
    font-size: 2.25em;
}

.logo {
    font-size: 1.5em;
}

.links, .sign-up p, .action-call, .five {
    font-size: 1.125em;
}

.sign-up h2, .info-header {
    font-weight: 900;
}

.three {
    font-style: italic;
}

button, .action-call, .info-subtext img {
    border-radius: 0.625em;
}

/* border */

.action-call button {
    border-style: groove;
    border-width: thin;
}

.info-subtext img {
    border-style: solid;
    border-width: thick;
}

/* colors */

.info-header, .three {
    color: #1F2937;
}

.sign-up h2, .logo {
    color: #F9FAF8;
}

.links, .sign-up p, .action-call, .five, button {
    color: #e5e7eb;
}

button, .action-call {
    background: #3882F6;
}

.one, .five {
    background: #1F2937;
}

.three {
    background: #e5e7eb;
    }
    
.sign-up-img img {
    background: #1f2930;
}
    
.action-call button {
    border-color: white;
}

.sign-up button, .info-subtext img {
    border: #3882F6;
}

/* specialized */

.header {
    gap: 28em;
    padding: 0.625em 6.875em;
}

.links {
    gap: 1.556em;
}

.content {
    padding: 7.5em 6.85em;
    gap: 4em;
}

.sign-up {
    width: 25.5em;
}

.sign-up-img img {
    padding: 7.5em 12.5em;
}

.info-header {
    padding: 1.5em 2.5em;
}

.info-subtext {
    gap: 3.375em;
    padding-bottom: 6em;
}

.info-subtext img {
    width: 11.25em;
    height: 11.25em;
    border-style: solid;
    border-width: thick;
}

.info-pic a {
    width: 11.25em;
    align-self: flex-end;
}

.three {
    padding: 4.0625em;
}

.three p, .three b {
    width: 22.875em;
    align-self: center;
}

.four {
    padding: 3.875em 9.5em;
}


.action-call {
    width: 53.875em;
    height: 7em;
    gap: 10em;
    padding: 0.625em 1.25em;
}

.five {
    padding: 1.25em;
}